<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile routerLink="/autocomplete">
        <mat-card>
            <mat-card-content>Autocomplete</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/badge">
        <mat-card>
            <mat-card-content>Badge</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/bottom-sheet">
        <mat-card>
            <mat-card-content>Bottom Sheet</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/button">
        <mat-card>
            <mat-card-content>Button</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/chips">
        <mat-card>
            <mat-card-content>Chips</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/button-toggle">
        <mat-card>
            <mat-card-content>Button-toggle</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/card">
        <mat-card>
            <mat-card-content>Card</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/checkbox">
        <mat-card>
            <mat-card-content>Checkbox</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/datepicker">
        <mat-card>
            <mat-card-content>Datepicker</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/dialog">
        <mat-card>
            <mat-card-content>Dialog</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/divider">
        <mat-card>
            <mat-card-content>Divider</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/expansion-panel">
        <mat-card>
            <mat-card-content>Expansion panel</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/grid-list">
        <mat-card>
            <mat-card-content>Grid List</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/icon">
        <mat-card>
            <mat-card-content>Icon</mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/input">
        <mat-card>
            <mat-card-content>Input</mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>